@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --eerie-black: #1C2321;
  --jungle-green: #49A078;
  --anti-flash-white: #EEEEEE;
  --tropical-indigo: #8B85C1;
  --periwinkle: #D4CDF4;
  --vista-blue: #72A1E5;
  --poppy-red: #DF2935;
  --safety-orange: #EC7505;
}

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.layout-menu {
  height: 100vh;
  width: 350px;
  padding-top: 50px;
  padding-left: 20px;
  background-color: var(--tropical-indigo);

  ul {
    list-style: none;

    a {
      transition: .2s linear;
      text-decoration: none;
      color: var(--anti-flash-white);
    }

    li {
      color: var(--anti-flash-white);
      cursor: pointer;
      padding: 10px;
      border-radius: 6px 0px 0px 6px;
      transition: .2s linear;

      &:hover {
        background-color: var(--periwinkle);
        color: var(--eerie-black);
        transition: .2s linear;
      }
    }
  }

}

.layout-wrapper {
  width: 100%;
  padding: 50px;
  background-color: var(--periwinkle);
  overflow-y: auto;
}

.menu-title {
  font-size: 24px;
  font-weight: bold;
  color: var(--anti-flash-white);
  margin-bottom: 10px;
}

.layout-title {
  font-size: 24px;
  font-weight: bold;
  color: var(--eerie-black);
  border-bottom: 1px solid var(--eerie-black);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.page-wrapper {
  background-color: var(--anti-flash-white);
  padding: 20px;
  border-radius: 10px;
}

.data-table {
  table {
    width: 100%;

    thead {
      background-color: var(--eerie-black);

      tr th {
        padding: 10px;
        color: var(--anti-flash-white);
        font-weight: 600;
        text-align: left;
      }
    }

    tbody {
      tr {
        cursor: pointer;

        td {
          padding: 10px;
          text-align: left;
          color: var(--eerie-black);
          font-weight: 600;

          &.center {
            text-align: center;
          }
        }

        &:hover {
          background-color: var(--periwinkle);
        }
      }
    }
  }
}

.button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--vista-blue);
  color: var(--anti-flash-white);
  cursor: pointer;

  &.success {
    background-color: var(--jungle-green);
  }

  &.warning {
    background-color: var(--safety-orange);
  }

  &.error {
    background-color: var(--poppy-red);
  }

}

.data-controls {
  background-color: var(--periwinkle);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  padding: 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--tropical-indigo);
  min-width: 350px;
}

.subpage-back-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  h1 {
    font-size: 2rem;
  }
}

.students-form {
  display: flex;
  width: 100%;
  flex-flow: column;

  label {
    font-weight: 600;
    display: flex;
    flex-flow: column;
    gap: 5px;
    margin-bottom: 15px;
  }

  .form-footer {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
  }
}

.stats-wrapper{
  display: flex;
  gap: 1rem;

  a {
    text-decoration: none;
  }

  .stat-item{
    background-color: var(--tropical-indigo);
    padding: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s linear;

    &:hover {
      background-color: var(--eerie-black);
    }

    h2 {
      color: var(--anti-flash-white);
      font-size: 1.2rem;
    }

    span {
      color: var(--anti-flash-white);
      font-size: 3rem;
      font-weight: bolder;
    }
  }
}


#selectCobros {
  appearance: none;
  padding: 10px;
  border: 1px solid #DDD;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  resize: none;
  min-width: 320px;
}

.formulario-cobros {
  display: flex;
  flex-flow: column;
  max-width: 500px;
  gap: 20px;

  div {
    display: flex;
    flex-flow: row;
    gap: 10px;
  }
}


/* DETALLE DEL ALUMNO */
.ad-titulo {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.ad-datos-alumno {
  list-style: none;
  display: flex;
  flex-flow: column;
  gap: 1rem;

  strong {
    font-weight: bold;
  }
}

.ad-pago-resumen {
  padding: 1rem .5rem;

  ul {
    list-style: none;
    padding: 0px;
    margin: 0px;

    li {
      display: flex;
      justify-content: space-between;
      padding: .5rem 0px;
      border-bottom: 1px solid #DDD;
      font-size: 1.4rem;
    }
  }
}

/* REPORTES */
.report-container {
  width: 100%;
  height: 75vh;

  iframe {
    width: 100%;
    height: 100%;
  }
}
